body {
    background-color: antiquewhite;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.blur-background {
    position: relative;
    z-index: 1;
    background-color: antiquewhite;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.container{
    width: fit-content;
}

#petList {
    position: relative;
    z-index: 1;
    
}
.list-group-item {
    display: inline-block;
    width: 48%; /* Regola la larghezza delle colonne */
    margin: 1%; /* Aggiunto margine tra gli elementi */
    box-sizing: border-box; /* Considera il bordo e il padding nella larghezza */
}

.list-group-item{
    position: relative;
    z-index: 1;
    background-color: antiquewhite;
    background-size: cover;
    background-position: auto;
    background-attachment: fixed;
}

.panel{
    position: relative;
    z-index: 1;
    background-color: transparent
}

.pet-row{
    width:fit-content;
}

#login-btn{
    margin-top: 25px;
}

#user-address{
    margin-top: 25px;
    font-size: 17px;
}